<button class="secondary-button" *ngIf="userAuthenticated" (click)="createQuoteForm()">Create new quote</button>
<table>
    <thead>
        <tr>
            <th>Quote</th>
            <th>Description</th>
            <th>Author</th>
            <th>Category</th>
            <th class="actions" *ngIf="userAuthenticated">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let quote of quotes">
            <td>{{quote.quote}}</td>
            <td>{{quote.description}}</td>
            <td>{{quote.author}}</td>
            <td>{{quote.category}}</td>
            <td class="actions-buttons" *ngIf="userAuthenticated">
                <button class="accent-button delete" (click)="deleteQuote(quote.id)">Delete</button>
                <button class="secondary-button update" (click)="updateQuote(quote)">Update</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="notification" *ngIf="displayMessage">
    <span>{{displayMessage}}</span>
    <button (click)="closeNotification()">Close</button>
</div>

<div *ngIf="createQuote">
    <app-create-quote [existingQuote]="quoteToUpdate" (quoteCreatedSuccessfully)="quoteCreated($event)" (errorInQuoteCreation)="quoteNotCreated($event)"></app-create-quote>
</div>