/* You can add global styles to this file, and also import other style files */

@import './themes/palette.scss';
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
}

.header {
    background-color: map-get($map: $light, $key: 'background');
}

.form-background {
    background-color: map-get($map: $light, $key: 'background');
}

button:hover {
    pointer-events: cursor;
}

button {
    &:disabled {
        background-color: lightgrey;
    }
}

.primary-button {
    color: black;
    background: #5CA4A9;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: none;
    font-weight: normal;
    font-size: 1rem;
    pointer-events: cursor;
}

.secondary-button {
    color: black;
    background: #F4F1BB;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: none;
    font-weight: normal;
    font-size: 1rem;
    pointer-events: cursor;
}

.accent-button {
    color: white;
    background: #ED6A5A;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: none;
    font-weight: normal;
    font-size: 1rem;
}