<div>
    <header class="header">
        <span class="heading-title">Quotes sharing app</span>
        <nav class="navigation">
            <div *ngIf="isAuthenticated; then userLoggedIn; else showLoginAndSignUp;" class="actions"></div>
            <ng-template #userLoggedIn>
                <p>You logged in <em>{{user.email}}!</em></p>
                <button (click)="logout()" class="primary-button">Log out</button>
            </ng-template>
            <ng-template #showLoginAndSignUp>
                <button (click)="gotoLogin()">Login</button>
                <button (click)="gotoSignUp()">Sign up</button>
            </ng-template>
        </nav>
    </header>
</div>

<div class="quotes-section">
    <app-quotes-list [userAuthenticated]="isAuthenticated"></app-quotes-list>
</div>